@bgDefault: #0066ca;
@whiteFade: #7db1e4;

@secondaryText: #7db1e4;
@lightBlueText: #80bfff;

@inputBorder: #3086d9;
@inputBorderFocused: white;

@baseFontFamily: 'lato', sans-serif;
@inputFontFamily: 'lato', sans-serif;
@headerFontFamily: 'lato', 'Helvetica Neue', sans-serif; // pragmatica-web

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /* Margin top by navbar height */
  font-family: @baseFontFamily;
  font-weight: 300;
  background-color: @bgDefault;
  color: #fff;
  overflow-x: hidden; // TODO: Fix draft invoice right gap and remove me.
}

body > .container {
  padding: 10px 10px;
  color: white;
  margin-top: 160px;
  margin-bottom: 120px;
  line-height: 1.5em;
  font-size: 1.2em;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #ffffff;
}

.section.invoice-new {
  background-image: url('/public/app/images/background.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.section.howto {
  background-color: #fff;
  color: #464646;
}

.section.howto h2 {
  color: #464646;
}

a {
  color: #00B7FF;

  &.ajax-link {
    color: @secondaryText;
    text-decoration: none;
    border-bottom: 1px @secondaryText dashed;
  }
}

h1 {
  text-align:left;
  font-family: @headerFontFamily;
  font-size: 48px;
  letter-spacing: 0.03em;
  font-weight: 100;
  margin: 0;
  margin-bottom: 30px;
}

h2 {
  text-align:left;
  font-family: @headerFontFamily;
  font-size: 1.2em;
  letter-spacing: 0.03em;
  font-weight: 100;
  margin: 0;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.8)
}

h2 strong {
  font-weight: 400;
  color: rgba(255, 255, 255, 1)
}

h3 {
  color: #a3bde6;
  line-height: 1.5em;
  font-size: 1em;
  font-weight: 300;
}

.font-light {
  color: @lightBlueText;
}

label {
  font-weight:300;
  color: @secondaryText;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: @inputBorderFocused;
  border-width: 1px;
  box-shadow: none;
  outline: 0 none;
}

.checkbox label {
  color: white;
  font-weight: 200;
  font-family: @baseFontFamily;
  font-size: 0.8em;
  line-height: 1em;
}

div.error .error-icon {
  background-image: url('/public/app/images/warning.png');
}

div.error .error-icon {
  width: 58px;
  height: 58px;
  margin-left: -68px;
  display: block;
}

div.error .error-text {
  margin-top: -52px;
}

div.error {
  margin-bottom: 30px;
  padding-left: 41px;
}

div.error p {
  line-height: 20px;
  margin-bottom: 5px;
}

div.error p.error-header {
  font-weight: 600;
}

@media (max-width: 768px) {
  div.error {
    padding-left: 68px;
  }
}
