@bgDefault: #0066ca;
@whiteFade: #7db1e4;

@secondaryText: #7db1e4;
@lightBlueText: #80bfff;

@inputBorder: #3086d9;
@inputBorderFocused: white;

@baseFontFamily: 'lato', sans-serif;
@inputFontFamily: 'lato', sans-serif;
@headerFontFamily: 'lato', 'Helvetica Neue', sans-serif; // pragmatica-web

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /* Margin top by navbar height */
  font-family: @baseFontFamily;
  font-weight: 300;
  background-color: @bgDefault;
}

body > .container {
  padding: 10px 10px;
  color: white;
  margin-bottom: 120px;
  line-height: 1.5em;
  font-size: 1.2em;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #ffffff;
}

#bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('/public/app/images/background.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: .2;

}

a {
  color: #00B7FF;

  &.ajax-link {
    color: @secondaryText;
    text-decoration: none;
    border-bottom: 1px @secondaryText dashed;
  }
}

h1 {
  text-align:left;
  font-family: @headerFontFamily;
  font-size: 48px;
  letter-spacing: 0.03em;
  font-weight: 100;
  margin: 0;
  margin-bottom: 30px;
}

h2 {
  text-align:left;
  font-family: @headerFontFamily;
  font-size: 1.2em;
  letter-spacing: 0.03em;
  font-weight: 100;
  margin: 0;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.8)
}

h2 strong {
  font-weight: 400;
  color: rgba(255, 255, 255, 1)
}

h3 {
  color: #a3bde6;
  line-height: 1.5em;
  font-size: 1em;
  font-weight: 300;
}

.font-light {
  color: @lightBlueText;
}
