.card {
  position: relative;
  width: 380px;
  height: 220px;
  background-color: #0a2972;
  border-radius: 10px;
  font-family: "ocr-a-std";
  font-size: 1.3em;

  -webkit-box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.2);
}

.card .card-number {
  position: absolute;
  top: 120px;
  left: 40px;
}

.card .card-expdate {
  position: absolute;
  top: 160px;
  left: 150px;
}

.card .card-bank-logo {
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
}

.card .card-bank-name {
  position: absolute;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  margin-top: 15px;
  margin-left: 15px;
}

.card .card-type {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.card .card-type {
  width: 75px;
  height: 45px;
}

.card .visa {
  background: url("/public/banks/visa.png") center no-repeat;
}

.card .mastercard {
  background: url("/public/banks/mastercard.png") center no-repeat;
}

.card-col {
  min-width: 410px !important;
  max-width: 410px !important;
}
