@import "media";

.form-group .radio,
.form-group .checkbox {
  margin-bottom: 4px;
  padding-left: 27px;
  font-size: 15px;
  line-height: 27px;
  color: #404040;
  cursor: pointer;
}
.form-group .radio:last-child,
.form-group .checkbox:last-child {
  margin-bottom: 0;
}
.form-group .radio input,
.form-group .checkbox input {
  position: absolute;
  left: -9999px;
}
.form-group .radio i,
.form-group .checkbox i {
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  outline: none;
  border-width: 1px;
  border-style: solid;
  background: transparent;
  border-color: @inputBorder;
}
.form-group .radio i {
  border-radius: 50%;
  border-color: white;
}
.form-group .radio input + i:after,
.form-group .checkbox input + i:after {
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
}
.form-group .radio input + i:after {
  content: '\f111';
  top: 2px;
  left: 4px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  font: 100 12px/15px FontAwesome;
}
.form-group .checkbox input + i:after {
  content: '\f00c';
  top: 2px;
  left: 2px;
  width: 15px;
  height: 15px;
  font: 100 12px/16px FontAwesome;
  text-align: center;
}
.form-group .radio input:checked + i:after,
.form-group .checkbox input:checked + i:after {
  opacity: 1;
}

.form-group .checkbox label {
  color: white;
  font-weight: 200;
  font-family: @baseFontFamily;
  font-size: 0.8em;
  line-height: 1.4em;
  padding-left: 2px;
}

.form-group .radio label {
  color: white;
  font-weight: 200;
  font-family: @baseFontFamily;
  font-size: 0.8em;
  line-height: 1.4em;
  padding-left: 2px;
}

.form-group .checkbox label a {
  color: white;
  text-decoration: underline;
}

.form-control {
  background-color: @bgDefault;
  border-color: @inputBorder;
  color: #fff;
  border-radius: 0;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  font-size: 22px;
  padding: 6px 12px;
  font-weight: 100;
}

.form-control::-webkit-input-placeholder { color: @secondaryText; font-weight: 300; font-family: @baseFontFamily}
.form-control::-moz-placeholder { color: @secondaryText; font-weight: 300; font-family: @baseFontFamily }
.form-control:-ms-input-placeholder {color: @secondaryText; font-weight: 300; font-family: @baseFontFamily }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: @bgDefault;
  opacity: 0.9;
}

.input-lg {
  height: 50px;
}

label {
  font-weight:300;
  .media-mobile({
    font-weight: 400;
  });
  color: @secondaryText;
}

.checkbox label {
  color: white;
  font-weight: 200;
  font-family: @baseFontFamily;
  font-size: 0.8em;
  line-height: 1em;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: @inputBorderFocused;
  border-width: 1px;
  box-shadow: none;
  outline: 0 none;
}

.form-group {
  margin-bottom: 20px;
}

a.btn-lg {
  line-height: 30px;
}

.btn-lg {
  height: 50px;
  border-color: white;
  background-color: white;
  border-radius: 0;
  color: #0066ca;

  .media-mobile({
    font-size: 17px;
  });

  &[disabled], &[disabled]:active {
    cursor: inherit;
    color: #0066ca;
  }

  &:hover {
    border-color: white;
    background-color: #eee;
    color: #0066ca;
  }
}

// datetime picker

.input-group-btn .btn:nth-child(2), .input-group-btn .btn:nth-child(3) {
  border-left: none;
}

.btn-transparent {
  border-color: @inputBorder !important;
  color: #FFF !important;
  background-color: transparent !important;
  height: 50px;
  line-height: 35px;
  font-size: 22px;
  font-weight: 100;
}

.btn-active {
  background-color: @inputBorder !important;
  height: 50px;
  line-height: 35px;
}

.datetimepicker {
  color: @whiteFade;
  font-size: 12px;
  font-weight: 500;
}

ul.dropdown-menu {
  padding: 5px;
}

ul.dropdown-menu .btn {
  border: none;
}

button:focus,
button:active,
button:hover {
  outline:0px !important;
  -webkit-appearance:none;
}

input.ng-invalid.ng-touched,
.ng-submitted input.ng-invalid,
.ng-submitted .form-group .checkbox i.ng-invalid,
.ng-submitted .form-group .radio i.ng-invalid
{
  border:2px solid red !important;
  outline: none;
}

.error-message {
  color: white;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  margin-top: 3px;
}

.btn {
  font-family: @inputFontFamily;
}

.secondary-action {
  line-height: 50px;
}

.media-tablet({
  .secondary-action {
    line-height: 20px;
    margin-top: -10px;
    text-align: center;
  }
});

.secondary-action-bottom {
  line-height: 20px;
  margin-top: -10px;
  text-align: center;
}

