@import "media";

#new_invoice {

  & label {
    font-weight: 400;
    font-size: 20px;
    color: white;
  }

  & label span {
    color: @secondaryText;
  }

  & .form-control {
    background-color: @bgDefault;
    border-color: @whiteFade;
    color: #fff;
    border-radius: 0;
    font-size: 22px;
    padding: 6px 12px;
    font-weight: 100;
  }
  
  & .form-control:focus {
    border-color: white;
  }

  & .btn {
    &[disabled], &[disabled]:active {
      opacity: 1;
    }
  }
  
  & #amount {
    font-size: 10em;
    height: auto;
    background: transparent;
    border: transparent;
    color: white;
    text-align: right;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    width: 0px;
    float: none;
    display: inline-block;
    .media-tablet({
      font-size: 8em;  
    });
    .media-mobile({
      font-size: 6em;  
    });
    &:focus {
      outline: 0;
    }
  }
  
  & .amount-group .input-group-addon {
    background: transparent;
    border: transparent;
    font-size: 10em;
    color: @whiteFade;
    display: inline-block;
    vertical-align: baseline;
    padding: 0;
    width: auto;
    .media-tablet({
      font-size: 8em;  
    });
    .media-mobile({
      font-size: 6em;  
    });
  }
  
  & .amount-group {
    text-align: center;
    display: block;
  }
  
  & .form-group input {
    display: block;
  }
  
  & .btn {
    margin-top: 0px;
  }
}

#enough {
  border: 1px solid #0066ca;
  border-radius: 25px;
  padding: 30px;
  & h1, & h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.enough {
  margin: 80px 0;
  .media-mobile({
    margin: 30px 0;
  });
}

.section.what-is-it-for {
  background-color: #fff;
  color: #464646;
  & h1, & h2 {
    color: #464646;
  }
  & p {
    color: #333;
  }
}

.section.what-is-it-for, .section.how-to-use {
  & h1 {
    font-size: 3em;
    font-weight: 300;
    margin-top: 50px;
    .media-mobile({
      font-size: 28px;
      font-weight: 400;
      margin-top: 20px;
    });
  }
  
  & h2 {
    font-size: 2.5em;
    font-weight: 300;
    margin-top: 50px;
    .media-mobile({
      font-size: 22px;
      font-weight: 400;
      margin-top: 20px;
    });
  }
  
  & p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
}


.profit {
  .media-desktop({
    min-width: 220px;
    min-height: 220px;
  });
  
  .media-mobile({
    width: 100px;
    height: 100px;
    &.pull-left {
      margin-right: 15px;
    }
    &.pull-right {
      margin-left: 15px;
    }
  });

  
  width: inherit;
  height: inherit;
  &.profit-1 { background: url('/public/app/images/profit-1.png') center center no-repeat; background-size: cover }
  &.profit-2 { background: url('/public/app/images/profit-2.png') center center no-repeat; background-size: cover }
  &.profit-3 { background: url('/public/app/images/profit-3.png') center center no-repeat; background-size: cover }
  &.profit-4 { background: url('/public/app/images/profit-4.png') center center no-repeat; background-size: cover }
}

.usage {
  text-align: center;
  
  .media-desktop({
    width: 150px;
    height: 150px;
  });
  
  .media-mobile({
    width: 100px;
    height: 100px;
    &.pull-left {
      margin-right: 15px;
    }
    &.pull-right {
      margin-left: 15px;
    }
  });
  
  background: url('/public/app/images/adv-icon-bg.png') center center no-repeat;
  background-size: cover;
  
  & .icon {
    width: inherit;
    height: inherit;
  }
  
  & .safety { background: url('/public/app/images/icon-safety.svg') center center no-repeat; background-size: 50% }
  & .safe { background: url('/public/app/images/icon-safe.svg') center center no-repeat; background-size: 50% }
  & .clock { background: url('/public/app/images/icon-clock.svg') center center no-repeat; background-size: 50% }
  
}

.back-to-top {
    position: fixed;
    text-decoration: none;
    .media-desktop({
      font-size: 4em;
      top: -10px;
      right: 10px;
    });
    .media-mobile({
      font-size: 3em;
      top: 0px;
      right: 10px;
    });
    padding: 0;
    display: none;
    z-index: 1000;
    
    i {
      color: rgba(125, 177, 228, 0.60);
      padding: 0;
      margin: 0;
    }
}

.back-to-top:hover {
    i {
      color: #6593c5;
    }
}

.from-to {
  display: none;
}

.media-mobile({
  .form-group {
    margin-bottom: 10px;
  }
  .amount-group {
    margin-bottom: 0px;
  }
  #new_invoice .btn {
    margin-top: 10px;
  }
});

.fullsize {
  .from-to {
    display: inherit;
  }
}