@import "media";

#new_invoice {

  & label {
    font-weight: 400;
    font-size: 20px;
    color: white;
  }

  & label span {
    color: @secondaryText;
  }

  & .btn {
    &[disabled], &[disabled]:active {
      opacity: 1;
    }
  }

  h1 {
    .media-mobile({
      font-size: 24px;
      margin-bottom: 20px;
    });
  }

  & #new_invoice_description {
    font-size: 18px;
    max-width: 750px;
  }

  & #amount_wrapper {
    text-align: center;
    padding-top: 15px;

    .media-mobile({
      padding-top: 0;
    });
  }

  & #amount {
    font-size: 10em;
    height: auto;
    background: transparent;
    border: transparent;
    color: white;
    text-align: right;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    width: 0px;
    float: none;
    display: inline-block;
    .media-tablet({
      font-size: 8em;
    });
    .media-mobile({
      font-size: 4em;
    });
    &:focus {
      outline: 0;
    }
  }

  & .amount-group .input-group-addon {
    background: transparent;
    border: transparent;
    font-size: 10em;
    color: @whiteFade;
    display: inline-block;
    vertical-align: baseline;
    padding: 0;
    width: auto;
    .media-tablet({
      font-size: 8em;
    });
    .media-mobile({
      font-size: 4em;
    });
  }

  & .amount-group {
    text-align: center;
    display: block;
  }

  & .form-group input {
    display: block;
  }

  & .btn {
    margin-top: 0px;
  }
}

#enough {
  border: 1px solid #0066ca;
  border-radius: 25px;
  padding: 30px;
  & h1, & h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .secondary-action {
    font-size: 1.2em;
    .ajax-link {
      color: @bgDefault;
      text-decoration: none;
      border-bottom: 1px @bgDefault dashed;
    }
  }

}

.enough {
  margin: 80px 0;
  .media-mobile({
    margin: 30px 0;
  });
}

.section.what-is-it-for {
  background-color: #fff;
  color: #464646;
  & h1, & h2 {
    color: #464646;
  }
  & p {
    color: #333;
  }
}

.section.what-is-it-for, .section.how-to-use {
  & h1 {
    font-size: 3em;
    font-weight: 300;
    margin-top: 50px;
    .media-mobile({
      font-size: 28px;
      font-weight: 400;
      margin-top: 20px;
    });
  }

  & h2 {
    font-size: 2.5em;
    font-weight: 300;
    margin-top: 50px;
    .media-mobile({
      font-size: 22px;
      font-weight: 400;
      margin-top: 20px;
    });
  }

  & p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }

  .youtube-container {
    position: relative;
    padding-bottom: 50%;
    padding-top: 35px; height: 0; overflow: hidden;
    margin-bottom: 35px;
  }

  .youtube-container iframe,
  .youtube-container object,
  .youtube-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


.profit {
  .media-desktop({
    min-width: 220px;
    min-height: 220px;
  });

  .media-mobile({
    width: 100px;
    height: 100px;
    &.pull-left {
      margin-right: 15px;
    }
    &.pull-right {
      margin-left: 15px;
    }
  });


  width: inherit;
  height: inherit;
  &.profit-1 { background: url('/public/app/images/profit-1.png') center center no-repeat; background-size: cover }
  &.profit-2 { background: url('/public/app/images/profit-2.png') center center no-repeat; background-size: cover }
  &.profit-3 { background: url('/public/app/images/profit-3.png') center center no-repeat; background-size: cover }
  &.profit-4 { background: url('/public/app/images/profit-4.png') center center no-repeat; background-size: cover }
}

.usage {
  text-align: center;

  .media-desktop({
    width: 150px;
    height: 150px;
  });

  .media-mobile({
    width: 100px;
    height: 100px;
    &.pull-left {
      margin-right: 15px;
    }
    &.pull-right {
      margin-left: 15px;
    }
  });

  background: url('/public/app/images/adv-icon-bg.png') center center no-repeat;
  background-size: cover;

  & .icon {
    width: inherit;
    height: inherit;
  }

  & .safety { background: url('/public/app/images/icon-safety.svg') center center no-repeat; background-size: 50% }
  & .safe { background: url('/public/app/images/icon-safe.svg') center center no-repeat; background-size: 50% }
  & .clock { background: url('/public/app/images/icon-clock.svg') center center no-repeat; background-size: 50% }

}

.back-to-top {
    position: fixed;
    text-decoration: none;
    .media-desktop({
      font-size: 4em;
      top: -10px;
      right: 10px;
    });
    .media-mobile({
      font-size: 3em;
      top: 0px;
      right: 10px;
    });
    padding: 0;
    display: none;
    z-index: 1000;

    i {
      color: rgba(125, 177, 228, 0.60);
      padding: 0;
      margin: 0;
    }
}

.back-to-top:hover {
    i {
      color: #6593c5;
    }
}

.from-to {
  display: none;
}

.media-mobile({
  .form-group {
    margin-bottom: 10px;
  }
  .secondary-action {
    margin-top: 0px;
  }
  .amount-group {
    margin-bottom: 0px;
  }
  #new_invoice .btn {
    margin-top: 10px;
  }
});

.fullsize {
  .from-to {
    display: inherit;
  }
}

.section ul {
  margin-bottom: 30px;
  li {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
}

#mass-media {
  background-color: #0056aa;
  padding-bottom: 100px;
  position: relative;
  bottom: -15px;

  .media-mobile({
    bottom: -35px;
  });

  h2 {
    padding: 20px 0px 50px 0px;
    font-size: 2.5em;
    font-weight: 300;
  }

  .logo {
    text-align: center;

    a {
      opacity: 0.5;
      display: inline-block;
      &:hover {
        opacity: 1;
      }
    }

    &.dme a { padding: 25px 0; }
    &.lh a { padding: 12px 0; }
    &.vc a { padding-bottom: 10px; }

  }


}
