// Invoice styles.
@import "media";


.invoice-init-loader {
  background-image: url("/public/app/images/ajax-loader.gif");
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}

.card-3d-secure {
  margin-top: 20px;
  padding: 5px;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.4em;
  color: #214b6e;
  text-align: center;
  background-color: #fefefe;
  border-radius: 10px;

  a, a:hover, a:visited, a:focus, a:active {
    color: #214b6e;
  }
  
  a {
    text-decoration: underline;
  }
  
  & .icon {
    padding: 0px;
    margin-right: 15px;
    display: inline-block;
    & .icon-mastercard {
      background: url('/public/app/images/mastercard-secure-code.png') center center no-repeat;
      background-size: 100px 38px;
      width: 100px;
      height: 44px;
    }
    & .icon-visa {
      background: url('/public/app/images/verified-by-visa.png') center center no-repeat;
      background-size: 86px 38px;
      width: 100px;
      height: 44px;
    }
    
    .media-mobile({
      .icon-mastercard {
        background-size: 70px 26px;
        width: 70px;
        height: 30px;  
      }
      .icon-visa {
        background-size: 51px 26px;
        width: 70px;
        height: 30px;
      }
    });
  }
}

.show-advanced {
  display: block;
  margin: 10px 0;
  text-align: center;
}

.edit-card {
  display: block;
  margin: 15px 0;
  text-align: center;
  color: @secondaryText;
}


#slide3.offcanvas {
    height:0px;
    opacity:0;
    width1: 0;
    overflow: hidden;
    margin-right:-100%;
}

#slide1.offcanvas {
    margin-left:-100%;
    height:0px;
    opacity:0;
    overflow: hidden;
}

.media-tablet({
  #slide1.offcanvas {
    margin-left: 0px;
    height: auto;
    opacity: 1;
  }
  #slide1.offcanvas .form-group:nth-child(2), #slide1.offcanvas .form-group:nth-child(3) {
    display: none;
  }

  #slide3 {
    margin-top: -20px;
  }
  
  .card-col {
    display: none;
  }

  #slide3.preoffcanvas {
    margin-right: 0;
  }
});

@marginDuration: 0.6s;
@opacityDuration: 0.3s;

#send_invoice #slide1, #send_invoice #slide2, #send_invoice #slide3 {
  -webkit-transition: width 0.3s ease, height 0.3s ease, margin @marginDuration ease, padding 0.3s ease, opacity @opacityDuration ease;
  -moz-transition: width 0.3s ease, height 0.3s ease, margin @marginDuration ease, padding 0.3s ease, opacity @opacityDuration ease;
  -o-transition: width 0.3s ease, height 0.3s ease, margin @marginDuration ease, padding 0.3s ease, opacity @opacityDuration ease;
  transition: width 0.3s ease, height 0.3s ease, margin @marginDuration ease, padding 0.3s ease, opacity @opacityDuration ease;
}

.invoice {
  &-header-icon {
    width: 58px;
    height: 58px;
    margin-left: -68px;
    margin-right: 10px;
    display: inline-block;
    
    .media-mobile({
      margin-left: 0px;
      width: 32px;
      height: 32px;
      background-size: 32px 32px;
      background-repeat: no-repeat;
    });
  }

  &[data-state="draft"] {
    .invoice-header-icon { background-image: url("/public/app/images/invoice-header-draft.png") }
  }
  &[data-state="sent"] {
    .invoice-header-icon { background-image: url("/public/app/images/invoice-header-sent.png") }
  }
  &[data-state="paid"] {
    .invoice-header-icon { background-image: url("/public/app/images/invoice-header-paid.png") }
  }
  &[data-state="failed"] {
    .invoice-header-icon { background-image: url("/public/app/images/invoice-header-failed.png") }
  }
  &[data-state="expired"] {
    .invoice-header-icon { background-image: url("/public/app/images/invoice-header-expired.png") }
  }
  &[data-state="refused"] {
    .invoice-header-icon { background-image: url("/public/app/images/invoice-header-refused.png") }
  }
  &[data-state="cancelled"] {
    .invoice-header-icon { background-image: url("/public/app/images/invoice-header-cancelled.png") }
  }
  &[data-state="error"] {
    .invoice-header-icon { background-image: url("/public/app/images/invoice-header-failed.png") }
  }
}

#pay_invoice .commission {
  text-align: center;
  color: @secondaryHeader;
  font-size: 14px;
}

.invoice-refuse-reason {
  .radio {
    opacity: 0.7;
    margin-left: -35px;
  }
  
  .radio.active {
    opacity: 1.0;
  }
  
  .radio label {
    font-size: 1.5em; 
    display: block;
    border-bottom: 1px solid rgba(255,255,255,.8);
    padding-bottom: 6px;
    margin-left: 7px;
  }
  
  input[type="textarea"] {
    background: transparent;
    border: 1px solid #fff;
    font-size: 1.3em;
    height: 3em;
  }
}


.media-mobile({
  .invoice-refuse-reason {
    .radio {
      margin-left: 0;
    }
  } 
  #slide3.preoffcanvas {
    margin-right: 0;
  }

  .expire-month {
    display: none;
  }
});


.ru-warning {
  padding: 15px 0 0 0;
  & img {
    margin-right: 10px;
  }
}
