#new_invoice #amount {
  font-size: 5em;
  height: auto;
  background: transparent;
  border: transparent;
  color: yellow;
  text-align: right;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

#new_invoice #amount:focus {
  outline: 0;
}


#new_invoice .amount-group .input-group-addon{
    background: transparent;
    border: transparent;
    font-size: 5em;
    color: yellow;
}