.navbar-fixed-top {
  min-height: 130px;
}

.navbar {
  margin-bottom: 0px;
}

// Navbar expanded
@media (min-width: 768px) {
    .navbar-default .navbar-nav > li > a {
        line-height: 80px;
        font-size: 130%;
        margin: 0px 20px;
        text-decoration: underline;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
    .navbar .navbar-brand {
        padding: 34px;
        height: auto;
    }
    .navbar .navbar-brand .logo {
        background-image: url('/public/app/images/payme_logo_white.png');
        width: 160px;
        height: 45px;
        transition: background-image 1s ease-in-out;
    }
}

// Navbar collapsed
@media (max-width: 768px){
    .navbar .navbar-collapse {
        text-align: right;
    }
    .navbar .navbar-brand {
        padding: 2px;
    }
    .navbar .navbar-brand .logo {
        background-image: url('/public/app/images/payme_logo_white.png');
        width: 160px;
        height: 45px;
        transition: background-image 1s ease-in-out;
    }
}

@media (max-width: 995px) {
  .navbar-default .navbar-nav > li > a {
    margin: 0px 5px;
  }
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-text {
  transition: color 1s ease-in-out;
}


.fp-viewing-1-0 .navbar .navbar-brand .logo {
  background-image: url('/public/app/images/payme_logo_blue.png');

}

.fp-viewing-1-0 .navbar-default .navbar-toggle .icon-bar {
  background-color: @bgDefault;
}

.navbar-default .navbar-toggle .icon-bar {
  transition: background-color 1s ease-in-out;
}

.fp-viewing-1-0 .navbar-default .navbar-nav>li>a,
.fp-viewing-1-0 .navbar-default .navbar-text {
  color: @bgDefault;
}


/* Genereated by http://work.smarchal.com/twbscolor/ */
@bgDefault      : #0066ca;
@bgHighlight    : transparent;
@colDefault     : #ffffff;
@colHighlight   : #fbff00;
@dropDown       : false;
.ddm() when (@dropDown) {
  > .dropdown-menu {
    background-color: @bgDefault;
    > li > a {
      color: @colDefault;
      &:hover,  &:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}
    .divider {
      background-color: @bgHighlight;}}}
.navbar-default {
  background-color: transparent;
  border-color: @bgHighlight;
  .navbar-brand {
    color: @colDefault;
    &:hover, &:focus {
      color: @colHighlight; }}
  .navbar-text {
    color: @colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: @colDefault;
        &:hover,  &:focus {
          color: @colHighlight; }}
      .ddm }
    > .active {
      > a, > a:hover, > a:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}}
  .navbar-toggle {
    border-color: @bgHighlight;
    &:hover, &:focus {
      background-color: @bgHighlight; }
    .icon-bar {
      background-color: @colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: @colDefault; }
  .navbar-link {
    color: @colDefault;
    &:hover {
      color: @colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: @colDefault;
      &:hover, &:focus {
        color: @colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}}
}
