#tariffs-page {

    .caption {
        color: #fff;
        font-size: 24px;
        margin-bottom: 30px;
    }

    .desc {
        font-weight: 100;
    }

    .small {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
    }

    .value {
        font-size: 36px;
    }

    .highlight-block {
        padding: 20px;
        background-color: #1975cf;
    }

}