#terms-page {
    ul {
        list-style: none;

        li {
            text-indent: -1.1em;
            margin-bottom: 20px;
        }

        > li:before {
            content: '— ';
        }
    }

    .highlight-block {
        padding: 20px;
        background-color: #1975cf;
    }
}
