// Variables.

@bgDefault: #0066ca;
@whiteFade: #7db1e4;

@secondaryText: #CEE2F5;
@lightBlueText: #9CC9F6;

@secondaryHeader: #CEE2F5;

@inputBorder: #9CC9F6;
@inputBorderFocused: white;
@inputText: white;
@inputDisabledText: white;

@baseFontFamily: 'lato', 'Helvetica Neue', sans-serif;
@inputFontFamily: 'Helvetica Neue', 'lato', sans-serif;
@headerFontFamily: 'lato', 'Helvetica Neue', sans-serif; // pragmatica-web
