// Variables.

@bgDefault: #0066ca;
@whiteFade: #7db1e4;

@secondaryText: #7db1e4;
@lightBlueText: #80bfff;

@secondaryHeader: #a3bde6;

@inputBorder: #7db1e4;
@inputBorderFocused: white;
@inputText: white;
@inputDisabledText: white;

@baseFontFamily: 'lato', 'Helvetica Neue', sans-serif;
@inputFontFamily: 'Helvetica Neue', 'lato', sans-serif;
@headerFontFamily: 'lato', 'Helvetica Neue', sans-serif; // pragmatica-web
