extends ../layout

block vars
  - var baseHref = '/invoice_created/'
  
block content
  .container.invoice(data-state="draft")
    .row
      .col-xs-12.col-md-10.col-md-offset-1
        h1
          span.invoice-header-icon &nbsp; 
          | Мы отправили вам письмо со ссылкой для завершения счета
        p
          | В целях безопасности мы должны убедиться, что почта принадлежит вам.
          | Поэтому мы отправили вам письмо со ссылкой для завершения счета.
