extends ../../layout

block title
  title Укажите номер карты
  
block content
  +table_wrapper(email)
    +tr_title("Вы запросили перевод")
    +tr_space(15)
    +tr_amount(email.invoice.amount, 'blue')
    +tr_desc
      +p_name('От', email.invoice.payer)
      +p_comment(email.invoice.text)
    +tr_space(25)
    +tr_desc
      p Осталось указать номер вашей банковской карты, на которую вы хотите получить деньги:
    +tr_space(25)
    +tr_primary_action(email.confirmUrl, "Указать номер карты")
    +tr_space(25)
