extends layout

block content
  .aaa {{ error.message }}
  .container.invoice(data-state="error")
    .row
      .col-xs-12.col-md-8.col-md-offset-2
        h1
          span.invoice-header-icon &nbsp; 
          | Произошла ошибка
        p #{ error.message }
    