doctype html
html(ng-app="app")
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    
    link(href="/public/app/images/favicon.png" rel="icon" type="image/png")
    link(rel='stylesheet', href='/public/build/css/deps.min.css')
    link(rel='stylesheet', href='/public/build/css/app.min.css')

    script(type='text/javascript', src='/public/build/js/deps.min.js')
    script(type='text/javascript', src='/public/build/js/app.min.js')
    script(type='text/javascript', src='//use.typekit.net/isd5xxq.js')
    script.
      try {
        Typekit.load();
      } catch (e) {}

  base(href='/invoice/')
  body
    nav.navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .navbar-brand
            a.logo(href="/")
        .navbar-collapse.collapse(id="navbar")
          ul.nav.navbar-nav
            li
              a(href="/#how-to-use") Как это работает
            li
              a(href="/#what-is-it-for") Для чего это нужно
            li
              a(href="/faq") Вопросы и ответы


    block content

    footer.footer
      .container
        .row
          .col-xs-6.col-sm-3.footer-left-links
            a(href='/offer') Оферта
            a(href='/tariffs') Тарифы
          .col-sm-6.hidden-xs.footer-center-links
            img(src="/public/app/images/secure.jpg")
          .col-xs-6.col-sm-3.footer-right-links
            a(href='mailto:support@payme4.ru') support@payme4.ru
          .col-xs-12.visible-xs-block.footer-center-links
            img(src="/public/app/images/secure-mobile.jpg")
