extends ../../layout

block title
  title Invoice refused
  
block content
  if email.address == email.invoice.owner.email
    +table_wrapper(email.type)
      +tr_title("Отказ от оплаты")
      +tr_reason
          p= email.invoice.refuse_reason
      +tr_space(15)
      +tr_amount(email.invoice.amount, 'gray')
      +tr_desc
        +p_name("От", email.invoice.payer)
        +p_comment(email.invoice.text)
      +tr_space(25)
      +tr_secondary_action(email.invoiceUrl, "Открыть квитанцию")
      +tr_space(25)
  else
    +table_wrapper(email.type)
      +tr_title("Вы отказались от оплаты")
      +tr_space(15)
      +tr_reason
        p= email.invoice.refuse_reason
      +tr_space(15)
      +tr_amount(email.invoice.amount, 'gray')
      +tr_desc
        +p_name("Кому", email.invoice.owner)
        +p_comment(email.invoice.text)
      +tr_space(25)
      +tr_secondary_action(email.invoiceUrl, "Открыть квитанцию")
      +tr_space(25)
    
