# Project
/config/config.js
/bower_components/
/public/deps/
/public/build/
/var/
/payme/config.js
/payme_web/config.js
/payme_worker/config.js

# JetBrains IDEs
*.iml
.idea/
/out/

# Node
logs
*.log
pids
*.pid
*.seed
node_modules
npm-debug.log
.DS_Store
