# Project
/config/config.js
/bower_components/
/mailer/config.js
/public/deps/
/public/build/
/var/
/web/config.js

# JetBrains IDEs
*.iml
.idea/
/out/

# Node
logs
*.log
pids
*.pid
*.seed
node_modules
npm-debug.log
