extends ../../layout

block title
  title Confirm invoice
  
block content
  +table_wrapper("#0366cb")
    +tr_title("Вы запросили перевод")
    +tr_space(15)
    +tr_amount(email.invoice.amount)
    +tr_desc
      p От: #{email.invoice.payer.name}
      p= email.invoice.text
    +tr_space(15)
    +tr_primary_action("#0480ff", email.confirmUrl, "Ввести данные карты")
    +tr_space(15)
    +tr_secondary_action(email.cancelUrl, "Отменить запрос")
    +tr_space(15)
