.container(ng-controller='InvoiceCancelCtrl')
  form(id="cancel_invoice", name="form", ng-submit="confirm()", novalidate)
    fieldset(ng-disabled="submitting")
      .row
        .col-xs-12.col-md-10.col-md-offset-1
          h1 Отмена счета на сумму {{ invoice.amount | currency:"₽":0 }}
          p
            | Вы, {{ invoice.owner_name }} 
            span.font-light {{ invoice.owner.email }}
            | , выставили счет {{ invoice.created_at | date:'d MMMM' }}
            | и просили оплатить до {{ invoice.expire_at | date:'d MMMM' }}.
            br
            | Плательщик — {{ invoice.payer_name }} 
            span.font-light {{ invoice.payer.email }}
            | . Мы отправим ему письмо с оповещением об отмене счета.
          br
      .row
        .col-xs-12.col-sm-6.col-md-3.col-md-offset-1
          .form-group
            button.btn.btn-submit.btn-primary.btn-lg.btn-block(
              id="cancel-submit" type="submit" ng-disabled="form.$invalid")
              | ОТМЕНИТЬ СЧЕТ
        .col-xs-12.col-sm-6.col-md-3
          .form-group.secondary-action
            | или 
            a.ajax-link(ng-click="showInvoice()", href="") вернуться к счету
