block content
  .container.invoice(data-state="draft")
    .row
      .col-xs-12.col-md-10.col-md-offset-1
        h1
          span.invoice-header-icon &nbsp; 
          | Осталось добавить банковскую карту, на которую Вы получите деньги
        p
          | Для этого, мы отправили Вам письмо на 
          span.font-light {{ invoice.owner_email }} 
          | со ссылкой на страницу ввода номера карты.