.container.invoice(ng-controller='InvoiceDoneCtrl' data-state="{{ invoice.state }}")
  .row
    .col-xs-12.col-md-10.col-md-offset-1(
    ng-switch="invoice.state")

      div(ng-switch-when="paid")
        h1
          span.invoice-header-icon &nbsp; 
          | Счет на сумму {{ invoice.amount | currency:"₽":0 }} оплачен
        p
          | Вы, {{ invoice.owner_name }} 
          span.font-light {{ invoice.owner.email }}
          | , выставили счет {{ invoice.created_at | date:'d MMMM' }}.
        p
          | Плательщик, {{ invoice.payer_name }} 
          span.font-light {{ invoice.payer.email }}
          | , оплатил счет {{ invoice.paid_at | date:'d MMMM' }}.
        
        div(ng-show="invoice.text")
          h3 КОММЕНТАРИЙ
          p {{ invoice.text }}

      div(ng-switch-when="failed")
        h1
          span.invoice-header-icon &nbsp;
          | Ошибка оплаты счета на сумму {{ invoice.amount | currency:"₽":0 }}
        p
          | Вы, {{ invoice.owner_name }} 
          span.font-light {{ invoice.owner.email }}
          | , выставили счет {{ invoice.created_at | date:'d MMMM' }}.
        p
          | Плательщик — {{ invoice.payer_name }} 
          span.font-light {{ invoice.payer.email }}
          | .
        h3 Описание ошибки
        p
          | {{ invoice.failure_reason }}

      div(ng-switch-when="expired")
        h1
          span.invoice-header-icon &nbsp;
          | Истекло время оплаты счета на сумму {{ invoice.amount | currency:"₽":0 }}
        p
          | Вы, {{ invoice.owner_name }} 
          span.font-light {{ invoice.owner.email }}
          | , выставили счет {{ invoice.created_at | date:'d MMMM' }} 
          | и попросили оплатить его до {{ invoice.expire_at | date:'d MMMM' }}.
        p
          | Плательщик, {{ invoice.payer_name }} 
          span.font-light {{ invoice.payer.email }}
          | , не оплатил счет до указанной даты.

      div(ng-switch-when="refused")
        h1
          span.invoice-header-icon &nbsp;
          | Плательщик отказался от оплаты счета на сумму {{ invoice.amount | currency:"₽":0 }}
        p
          | Вы, {{ invoice.owner_name }} 
          span.font-light {{ invoice.owner.email }}
          | , выставили счет {{ invoice.created_at | date:'d MMMM' }}.
        p
          | Плательщик, {{ invoice.payer_name }} 
          span.font-light {{ invoice.payer.email }}
          | , {{ invoice.refused_at | date:'d MMMM' }} отказался оплачивать счет.
        h3(ng-show="invoice.refuse_reason") Причина отказа
        p
          | {{ invoice.refuse_reason }}

      div(ng-switch-when="cancelled")
        h1
          span.invoice-header-icon &nbsp;
          | Счет на сумму {{ invoice.amount | currency:"₽":0 }} отменен
        p
          | Вы, {{ invoice.owner_name }} 
          span.font-light {{ invoice.owner.email }}
          | , {{ invoice.cancelled_at | date:'d MMMM' }} отменили счет, 
          | созданный {{ invoice.created_at | date:'d MMMM' }}.
        p
          | Плательщик — {{ invoice.payer_name }} 
          span.font-light {{ invoice.payer.email }}
          | .

      br

  .row(ng-show='invoice.state == "paid"')
    .col-xs-12.col-md-4.col-md-offset-1
      button.btn.btn-primary.btn-lg.btn-block(ng-click='saveReceipt()') СОХРАНИТЬ КВИТАНЦИЮ В PDF
