.container(ng-controller='InvoiceDoneCtrl')
  form(novalidate).row
    .col-xs-12.col-md-6.col-md-offset-3
      div(ng-switch="invoice.state")
        h1(ng-switch-when="paid") Ваш счет оплачен
        h1(ng-switch-when="failed") Ошибка оплаты счета
        h1(ng-switch-when="expired") Истекло время оплаты счета
        h1(ng-switch-when="refused") Плательщик отказался от оплаты счета
        h1(ng-switch-when="cancelled") Счет отменен

    .col-xs-12.col-md-3.col-md-offset-3
      .form-group
        label Кем
        .form-control-static {{ invoice.owner.email }}
      .form-group
        label Комментарий
        .form-control-static {{ invoice.text }}
      .form-group
        label Оплатить до
        .form-control-static {{ invoice.expire_at | date }}

    .col-xs-12.col-md-3
      .form-group
        label Сумма
        .form-control-static {{ invoice.amount | currency }}
      
      .form-group
        label На карту
        .form-control-static {{ invoice.owner_card.masked_number }}
          
      .form-group
        label Дата оплаты
        .form-control-static {{ invoice.updated_at | date }}

    .col-xs-12.col-md-6.col-md-offset-3
      .form-group
        button.btn.btn-primary.btn-block(ng-click='saveReceipt()') Сохранить квитанцию в PDF