.container.invoice(ng-controller='InvoiceDoneCtrl' data-state="{{ invoice.state }}")
  .row()
    .col-xs-12.col-md-10.col-md-offset-1(
    ng-switch="invoice.state")

      div(ng-switch-when="paid")
        h1
          span.invoice-header-icon &nbsp; 
          | Вы успешно оплатили счет на сумму {{ invoice.amount | currency:"₽":0 }}
        p
          | Получатель, {{ invoice.owner_name }} 
          span.font-light {{ invoice.owner.email }}
          | , выставил счет {{ invoice.created_at | date:'d MMMM' }}.
        p
          | Вы, {{ invoice.payer_name }} 
          span.font-light {{ invoice.payer.email }}
          | , успешно оплатили счет {{ invoice.paid_at | date:'d MMMM' }}.
        
        div(ng-show="invoice.text")
          h3 КОММЕНТАРИЙ
          p {{ invoice.text }}

      div(ng-switch-when="failed")
        h1
          span.invoice-header-icon &nbsp;
          | Ошибка оплаты счета на сумму {{ invoice.amount | currency:"₽":0 }}
        p
          | Произошла ошибка оплаты счета, который получатель, {{ invoice.owner_name }} 
          span.font-light {{ invoice.owner.email }}
          | , выставил {{ invoice.created_at | date:'d MMMM' }}.
        
        h3 ОПИСАНИЕ ОШИБКИ
        p
          | {{ invoice.failure_reason }}

      div(ng-switch-when="expired")
        h1
          span.invoice-header-icon &nbsp;
          | Истекло время оплаты счета на сумму {{ invoice.amount | currency:"₽":0 }}
        p
          | Получатель, {{ invoice.owner_name }} 
          span.font-light {{ invoice.owner.email }}
          | , выставил счет {{ invoice.created_at | date:'d MMMM' }} 
          | и попросил оплатить его до {{ invoice.expire_at | date:'d MMMM' }}.
        

      div(ng-switch-when="refused")
        h1
          span.invoice-header-icon &nbsp;
          | Вы отказались от оплаты счета на сумму {{ invoice.amount | currency:"₽":0 }}
        p
          | Вы, {{ invoice.payer_name }} 
          span.font-light {{ invoice.payer.email }}
          | , {{ invoice.refused_at | date:'d MMMM' }} отказались оплачивать счет,
          | который получатель, {{ invoice.owner_name }} 
          span.font-light {{ invoice.owner.email }}
          | , выставил {{ invoice.created_at | date:'d MMMM' }}.
          
        h3(ng-show="invoice.refuse_reason") ПРИЧИНА ОТКАЗА
        p
          | {{ invoice.refuse_reason }}

      div(ng-switch-when="cancelled")
        h1
          span.invoice-header-icon &nbsp;
          | Счет на сумму {{ invoice.amount | currency:"₽":0 }} отменен
        p
          | Получатель, {{ invoice.owner_name }} 
          span.font-light {{ invoice.owner.email }}
          | , {{ invoice.cancelled_at | date:'d MMMM' }} отменил счет, 
          | созданный {{ invoice.created_at | date:'d MMMM' }}.

      br

  .row(ng-show='invoice.state == "paid"')
    .col-xs-12.col-sm-6.col-md-5.col-md-offset-1
      button.btn.btn-primary.btn-lg.btn-block(ng-click='saveReceipt()') СОХРАНИТЬ КВИТАНЦИЮ В PDF
