.container(ng-controller='InvoiceDoneCtrl')
  .row
    .col-xs-12.col-md-10.col-md-offset-1(ng-switch="invoice.state")
      div(ng-switch-when="paid")
        h1
          | Счет на сумму {{ invoice.amount | currency:"₽":0 }} оплачен
        
        p
          | Вы, {{ invoice.owner_name }} 
          span.font-light {{ invoice.owner.email }}
          | , выставили счет {{ invoice.created_at | date:'d MMMM' }}.
  
        p
          | Плательщик, {{ invoice.payer_name }} 
          span.font-light {{ invoice.payer.email }}
          | , оплатил счет {{ invoice.paid_at | date:'d MMMM' }}.
      
      h1(ng-switch-when="failed") Ошибка оплаты счета
      h1(ng-switch-when="expired") Истекло время оплаты счета
      h1(ng-switch-when="refused") Плательщик отказался от оплаты счета
      h1(ng-switch-when="cancelled") Счет отменен
      
      br
      
  .row
    .col-xs-12.col-md-4.col-md-offset-1(ng-visible='invoice.state="paid"')
      button.btn.btn-primary.btn-lg.btn-block(ng-click='saveReceipt()') СОХРАНИТЬ КВИТАНЦИЮ В PDF
