h1 Pay
p {{ title }}
  div.alert.alert-danger(ng-show="form_error") {{ form_error }}
  form(ng-controller="InvoicePayCtrl", name="form", ng-submit="submit()", novalidate)
    div.form-group
      label(for="card_number") Номер карты
      input.form-control(type="text", id="card_number", name="card_number", ui-mask="9999 9999 9999 9999", ng-model="card.sender_card_number", ng-required="true")
      div.alert.alert-warning(ng-show="form.sender_card_number.$invalid && form.sender_card_number.$touched && !form.sender_card_number.$pristine") Укажите корректный номер карты
    div.form-group
      label(for="card_exp_year") Год окончания действия
      input.form-control(type="text", ui-mask="9999" ng-model="card.sender_card_exp_year", ng-required="true")
      div.alert.alert-warning(ng-show="form.sender_card_exp_year.$invalid && form.sender_card_exp_year.$touched && !form.sender_card_exp_year.$pristine") Укажите корректный номер карты
    div.form-group
      label(for="card.exp_month") Месяц окончания действия
      input.form-control(type="text", ui-mask="99", ng-model="card.sender_card_exp_month", ng-required="true")
    div.form-group
      label(for="card.cvv") CVV Код
      input.form-control(type="text", ui-mask="999", ng-model="card.sender_card_cvv", ng-required="true")
    div.form-group
      input(type="submit", class="btn btn-default", value="Отправить", ng-disabled="form.$invalid")
