.container(ng-controller="InvoiceDraftCtrl")
  .row
    .col-xs-12.col-md-6.col-md-offset-3
      h1 Счет отправлен плательщику
  .row
    .col-xs-12.col-md-6.col-md-offset-3
      p Как только счет будет опалчен, мы уведовим вас по электронной почте
  .row
    .col-xs-12.col-md-2.col-md-offset-5
        button.btn.btn-primary.btn-block(ng-click="showInvoice()") Ок