.container.invoice(ng-controller='InvoiceDraftCtrl' data-state="draft")
  .row
    .col-xs-12.col-md-12
      h1
        span.invoice-header-icon &nbsp; 
        | Счет на сумму {{ invoice.amount | currency:"₽":0 }} отправлен для оплаты
      p
        | Мы отправили счет, {{ invoice.payer_name }}
        span.font-light {{ invoice.payer.email }}
        | для оплаты. Как только счет будет оплачен, вам придет письмо.
      br
      
  .row
    .col-xs-12.col-md-3
      button.btn.btn-primary.btn-lg.btn-block(ng-click="showInvoice()") ПЕРЕЙТИ К СЧЕТУ
