.container.invoice(ng-controller='InvoiceSentOwnerCtrl' data-state="{{ invoice.state }}")
  .row
    .col-xs-12.col-md-10.col-md-offset-1
      h1
        span.invoice-header-icon &nbsp;
        | Счет на сумму {{ invoice.amount | currency:"₽":0 }} ожидает оплаты

  .row
    .col-xs-12.col-md-5.col-md-offset-1
      h3 ИНФОРМАЦИЯ О ЗАПРОСЕ
      p
        | Вы, {{ invoice.owner_name }} 
        span.font-light {{ invoice.owner.email }}
        | , выставили счет {{ invoice.created_at | date:'d MMMM' }}
        | и просите оплатить его до {{ invoice.expire_at | date:'d MMMM' }}.
        | Плательщик — {{ invoice.payer_name }} 
        span.font-light {{ invoice.payer.email }}
        | . Мы отправили ему письмо с предложением оплатить счет.
        br
        
      div(ng-show="invoice.text")
        h3 КОММЕНТАРИЙ
        p {{ invoice.text }}

    .col-xs-12.col-md-5
      h3 НОМЕР КАРТЫ
      card-static(
      card-number="invoice.owner_card.masked_number"
      card-bank="invoice.owner_card.bank")

  .row
    .col-xs-12.col-md-3.col-md-offset-1
      br
      button.btn.btn-primary.btn-lg.btn-block(ng-click="cancel()")
        | ОТМЕНИТЬ СЧЕТ
