extends ../../layout

block title
  title Счет ожидает оплаты
  
block content
  +table_wrapper(email)
    +tr_title("Счет ожидает оплаты")
    +tr_space(15)
    +tr_amount(email.invoice.amount, 'blue')
    +tr_desc
        +p_name("От", email.invoice.owner)
        +p_comment(email.invoice.text)
        +p_expire(email.invoice.expire_at) 
    +tr_space(15)
    +tr_primary_action(email.payUrl, "Оплатить")
    +tr_space(15)
    +tr_secondary_action(email.refuseUrl, "Отказаться от оплаты")
    +tr_space(15)
