#faq-page
  h1 Вопросы и ответы

  .row
    .hidden-xs.col-sm-5
      ul#questions(data-spy="affix", data-offset-top="180")
        li
          a(href="#why", slide-to-anchor="") Для чего нужен сервис Payme?
        li
          a(href="#how", slide-to-anchor="") Как пользоваться сервисом Payme4?
        li
          a(href="#what", slide-to-anchor="") На банковские карты каких платежных систем я могу перевести средства?
        li
          a(href="#tax", slide-to-anchor="") Как узнать точный размер комиссии за перевод?


    .col-xs-12.col-sm-7

      h2#why &mdash; Для чего нужен сервис Payme?
      p Просить у кого-то деньги всегда неловко.
      p Задумывались ли вы о том, сколько денег вы теряете просто потому что вы забыли о них попросить или вам неловко о них напоминить?
      p А что делать если сбор денег - ваша ежедневная рутина?
      p Вот для этого мы и сделали сервис PayMe4, чтобы собирать деньги стало быстро и просто! С помощью сервиса Payme4, вы можете уведомить вашего друга, бизнес-партнера или клиента о необходимости перевода денег в ваш адрес по различным поводам, и получить от них деньги на вашу банковскую карту. РЕГИСТРИРОВАТЬСЯ НЕ НУЖНО!!!!
      p Просто используйте свой почтовый ящик (Yandex, Gmail, Mail.ru или др.) или заходите на наш сайт payme4.ru

      h2#how &mdash; Как пользоваться сервисом Payme4?
      p Вы можете послать счет и получить деньги двумя способами.

      p Самый простой:
      ul
        li Просто пишите сообщение по электронной почте человеку, от которого вам нужно получить деньги.
        li В теме письма пишите "Заплати мне 100 рублей" или сколько вам надо. В копию нужно обязательно поставить pay@payme4.ru
        li Дальше сервис пришлет вам по почте сообщение для указания банковской карты, на которую Вы хотите получить деньги.
        li Человек, которому Вы отправили запрос (счет), получит сообщение (счет) на e-mail, и сможет не только посмотреть сколько вы попросили денег и за что, но и тут же оплатить Ваш счет (перевести деньги на Вашу банковскую карту).

      p Также вы можете воспользоваться нашим сайтом payme4.ru. Порядок действий схожий.
      p Все это работает с помощью технологии MasterCard MoneySend и Visa Personal Payments, которые созданы платежными системами Visa и MasterCard.
      p Все очень безопасно и надежно!

      h2#what &mdash; На банковские карты каких платежных систем я могу перевести средства?
      p На банковские карты платежных систем Visa и MasterCard/Maestro. Подробнее в "Тарифах"

      h2#tax &mdash; Как узнать точный размер комиссии за перевод?
      p Размер комиссии рассчитывается и показывается на экране автоматически, после того, как введены данные карт отправителя денег (плательщика).
      p Вы всегда будете точно знать стоимость перевода до того, как его отправить, запоминать тарифы не требуется.
