#faq-page

  .row
    .col-xs-12.col-sm-12.col-md-12
      h1 Вопросы и ответы
  .row
    .col-xs-12.col-sm-5.col-md-5

      ul#questions
        li
          a(href="#q1", slide-to-anchor="/faq") Для чего нужен сервис PayMe4?
        li
          a(href="#q2", slide-to-anchor="/faq") Нужно ли регистрироваться в сервисе PayMe4, чтобы им пользоваться?
        li
          a(href="#q3", slide-to-anchor="/faq") Как пользоваться сервисом PayMe4?
        li
          a(href="#q4", slide-to-anchor="/faq") Что делать, если плательщик не получил сообщение с реквизитами для перевода?
        li
          a(href="#q5", slide-to-anchor="/faq") На банковские карты каких платежных систем, я могу перевести средства?
        li
          a(href="#q6", slide-to-anchor="/faq") Что такое 3DSecure?
        li
          a(href="#q7", slide-to-anchor="/faq") Как узнать точный размер комиссии за перевод?
        li
          a(href="#q8", slide-to-anchor="/faq") Зачем установлены лимиты на переводы?
        li
          a(href="#q9", slide-to-anchor="/faq") Если валюта счета банковской карты отличается от валюты перевода, по какому курсу пройдет операция?
        li
          a(href="#q10", slide-to-anchor="/faq") Почему не проходит перевод?
        li
          a(href="#q11", slide-to-anchor="/faq") Я ошибся номером карты получателя &mdash; что делать?
        li
          a(href="#q12", slide-to-anchor="/faq") Я передумал, можно ли отозвать перевод?
        li
          a(href="#q13", slide-to-anchor="/faq") Перевод был успешным, но деньги до сих пор не дошли до получателя, почему?
        li
          a(href="#q14", slide-to-anchor="/faq") Куда мне обращаться при наличии вопросов, предложений или проблем?


    .col-xs-12.col-sm-7.col-md-7

      h2#q1 &mdash; Для чего нужен сервис Payme?
      p С помощью сервиса PayMe4, вы можете уведомить Вашего друга, бизнес-партнера или клиента о необходимости перевода денег в ваш адрес по различным поводам, и получить от них деньги на вашу банковскую карту.
      p Сервис PayMe4 создан AO NorvikBanka.
      p Переводы с карты на карту осуществляются #[a(href="https://alfabank.ru/") АО Альфа-Банк (Россия)].

      h2#q2 &mdash; Нужно ли регистрироваться в сервисе PayMe4, чтобы им пользоваться?
      p РЕГИСТРИРОВАТЬСЯ НЕ НУЖНО!
      p Просто используйте свой почтовый ящик (Yandex, Gmail, Mail.ru или др.) или заходите на наш сайт #[a(href="https://payme4.ru/") payme4.ru].

      h2#q3 &mdash; Как пользоваться сервисом PayMe4?
      p Вы можете послать счет и получить деньги двумя способами.

      p Самый простой:
      ul
        li Напишите сообщение по электронной почте человеку, от которого Вам нужно получить деньги.
        li В теме письма пишете сумму, например, «Заплати мне 100 рублей».
        li В копию нужно обязательно поставить pay@payme4.ru.

        li Дальше сервис пришлет вам по почте сообщение для указания банковской карты, на которую Вы хотите получить деньги.
        li Человек, которому вы отправили запрос (счет), получит сообщение (счет) на e-mail, и сможет не только посмотреть сколько вы попросили денег и за что, но и тут же оплатить Ваш счет (перевести деньги на вашу банковскую карту).

      p Также вы можете воспользоваться нашим сайтом #[a(href="https://payme4.ru/") payme4.ru]. Порядок действий схожий.
      p Все это работает с помощью технологии MasterCard MoneySend и Visa Personal Payments, которые созданы платежными системами Visa и MasterCard.
      p Все очень безопасно и надежно!

      h2#q4 &mdash; Что делать, если плательщик не получил сообщение с реквизитами для перевода?
      p Нужно проверить, что Ваше письмо не попало в папку “Спам” (Spam) в почтовом ящике плательщика (хотя такое случается крайне редко).
      p Так же можно отправить плательщику повторное сообщение (вновь создать счет) на его e-mail.

      h2#q5 &mdash; На банковские карты каких платежных систем, я могу перевести средства?
      p На банковские карты платежных систем Visa и MasterCard/Maestro:
      ul
        li переводы в рублях Российской Федерации (РФ) доступны между картами, выпущенными банками РФ;
        li переводы в рублях РФ с карт, выпущенных банками РФ на карты иностранных банков;
        li средства зачисляются на карту получателя автоматически, приходить за получением перевода в банк не требуется;
        li перевод осуществляется, только если карта отправителя (плательщика) поддерживает технологию 3D Secure;

      h2#q6 &mdash; Что такое 3DSecure?
      ul
        li 3DSecure (Verified by Visa/MasterCard Secure Code) — способ повышения безопасности операций с использованием карт в сети Интернет. В большинстве банков, это подтверждение операции по карте путем ввода одноразового SMS-пароля.
        li Если карта отправителя денег(плательщика) не поддерживает механизм проверки по 3DSecure, перевод денег с такой карты невозможен.
        li В этом случае клиенту необходимо обратиться в банк, выпустивший карту, и подключить 3DSecure.

      h2#q7 &mdash; Как узнать точный размер комиссии за перевод?
      p Размер комиссии рассчитывается и показывается на экране автоматически, после того, как введены данные карты отправителя денег(плательщика).
      p Вы всегда будете точно знать стоимость перевода до того, как его отправить, запоминать тарифы не требуется.
      p Так же следует учесть, что банку, выпустивший вашу карту, может взимать комиссию за выполнение денежных переводов с карты на карту. Размер комиссии в данном случае, Вы можете узнать в Вашем банке.
      p При переводах с расчетных (не кредитных) и зарплатных карт комиссия, как правило, не взимается.
      p Тарифы сервиса PayMe4 можно найти #[a(href="https://payme4.ru/tariffs") здесь].

      h2#q8 &mdash; Зачем установлены лимиты на переводы?
      p Ограничения по количеству операций и по сумме переводов по карте в день и месяц установлены с целью обеспечения безопасности Ваших денег.
      p Лимиты сервиса PayMe4 можно найти #[a(href="https://payme4.ru/tariffs") здесь].

      h2#q9 &mdash; Если валюта счета банковской карты отличается от валюты перевода, по какому курсу пройдет операция?
      p Конвертацию всегда производит банк, выпустивший карту.
      p Например, если вы осуществляете перевод в рублях РФ на карту украинского банка, и счет у этой карты в гривнах, конвертацию из рублей РФ в гривны будет осуществлять банк получателя по курсу, установленному этим банком.

      h2#q10 &mdash; Почему не проходит перевод?
      p Наиболее частые причины отказа в переводе следующие:
      ul
        li карта отправителя не поддерживает технологии 3DSecure;
        li на карте отправителя недостаточно средств для перевода;
        li для такого вида карт отправителя и/или получателя перевод запрещен;
        li карта отправителя или карта получателя выпущены в стране, переводы для которой не разрешены;
        li превышены лимиты на перевод;
        li в переводе отказал банк, выпустивший карту отправителя(плательщика) или карту получателя. Например, Citibank РФ — временно запрещает переводы на свои карты MasterCard;
        li неверно введены параметры карты отправителя или получателя, например, неверный номер карты, или срок действия, или CVC2/CVV2-код;
        li банк может отказать в переводе без объяснения причин перевода.

      h2#q11 &mdash; Я ошибся номером карты получателя &mdash; что делать?
      p Случайно ошибиться в номере карты получателя достаточно сложно — мы проверяем номера карт по определенному алгоритму, и, как правило, при ошибке в одной или нескольких цифрах номера карты, вы сразу же получите уведомление о том, что такой номер карты просто не существует.
      p В случае, если же ошибочно был введен реальный номер карты, и перевод был успешно отправлен (Вы получили уведомление об успешности перевода) — внести какие-либо изменения в перевод или его отозвать, к сожалению, невозможно.

      h2#q12 &mdash; Я передумал, можно ли отозвать перевод?
      p Отозвать успешно отправленный перевод невозможно.

      h2#q13 &mdash; Перевод был успешным, но деньги до сих пор не дошли до получателя, почему?
      p Срок зачисления перевода может составить несколько дней.
      p Факт зачисления перевода необходимо проверять по карте получателя (по выписке).
      p В случае, если деньги не пришли свыше ожидаемых сроков, можно обратится в банк, который выпустил банковскую карту получателя денег за разъяснениями.

      h2#q14 &mdash; Куда мне обращаться при наличии вопросов, предложений или проблем?
      p Вы можете написать нам письмо по адресу #[strong support@payme4.ru] или позвонить #[strong 8-800-000-00-00].
