#fullpage
  .section.invoice-new
    .container(ng-controller="InvoiceNewCtrl")
      form(id="new_invoice", name="form", ng-submit='submit(form.$valid)')
          fieldset
            .row
              .col-xs-12.col-md-10.col-md-offset-1
                h1 Получить деньги безопасно и просто
                p(style="font-size: 18px") Теперь вам не нужно обмениваться номерами банковских карт, достаточно ввести сумму и адреса электронной почты &mdash; свою и того, кто отправит деньги.

            .row
              .col-xs-12.col-md-10.col-md-offset-1
                .form-group
                  .input-group.amount-group
                    input.input-lg.form-control(id="amount", type="text", name="amount", ng-model="invoice.amount", maxlength="5", required, autosize, zero-input)
                    span.input-group-addon &#8381;

            .row
              .col-xs-12.col-md-10.col-md-offset-1
                .row
                  .form-group.col-xs-12.col-sm-6.col-md-4
                    label(for="payer_email") От кого
                    input.input-lg.form-control(type="text", name="payer_email", ng-model="invoice.payer_email", placeholder="От e-mail", required, email)
                  .form-group.col-xs-12.col-sm-6.col-md-4
                    label(for="owner_email")
                      | Кому
                      span &mdash; это вы
                    input.input-lg.form-control(type="text", name="owner_email", ng-model="invoice.owner_email", placeholder="Ваш e-mail", required, email)
                  .form-group.col-xs-12.col-sm-6.col-sm-offset-6.col-md-4.col-md-offset-0
                    label &nbsp;
                    button.btn.btn-primary.btn-lg.btn-block(type="submit", ng-disabled="form.$invalid") Продолжить

      .row
        .next-slide(onclick='$.fn.fullpage.moveSectionDown();')
          p.text-center Как это работает?
          p.text-center
            span.glyphicon.glyphicon-chevron-down

  .section.howto
    .slide
      .container
        .row
          .col-md-12
            h1.text-center Создавайте запросы в несколько кликов
            h2.text-center Просто заполните email того, у кого хотите попросить долг, и свой, а также сумму и все

    .next-slide(onclick='$.fn.fullpage.moveSectionDown();')
      p.text-center Преимущества
      p.text-center
        span.glyphicon.glyphicon-chevron-down

    .slide
      h2 Slide 2

  .section.advantages
    .container
      .row
        .col-md-6
          .adv-box
            h2 Безопасно
            .icon
              img(src="/public/app/images/icon-safe.svg", alt='')
            p Лимиты применяются и к картам отправителя, и к картам получателя услуги (сайт, смс, мобильное приложение или интернет-банк)
        .col-md-6
          .adv-box
            h2 Просто
            .icon
              img(src="/public/app/images/icon-clock.svg", alt='')

            p Лимиты применяются и к картам отправителя, и к картам получателя услуги (сайт, смс, мобильное приложение или интернет-банк)
        .col-md-6
          .adv-box
            h2 Надежно
            .icon
              img(src="/public/app/images/icon-safety.svg", alt='')

            p Лимиты применяются и к картам отправителя, и к картам получателя услуги (сайт, смс, мобильное приложение или интернет-банк)
        .col-md-6
          .adv-box
            h2 Удобно
            .icon
              img(src="/public/app/images/icon-easy.svg", alt='')
            p Лимиты применяются и к картам отправителя, и к картам получателя услуги (сайт, смс, мобильное приложение или интернет-банк)

script.
  $(function() {
    $('.footer').appendTo('.section.advantages');
    $('body>.container').removeClass('container');
    $('#fullpage').fullpage({});

  });
