.section.invoice-new
  .container(ng-controller="InvoiceNewCtrl")
    form.fullsize(id="new_invoice", name="form", novalidate, ng-submit='submit()')
        fieldset(ng-disabled='submitting')
          .row
            .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
              h1 Получить деньги безопасно и просто
              p(style="font-size: 18px; max-width: 750px") Теперь вам не нужно обмениваться номерами банковских карт, достаточно ввести сумму и e-mail адрес &mdash; свой и того, кто отправит деньги.

          .row
            .col-xs-12.col-sm-12.col-md-8.col-md-offset-1
              .form-group
                .input-group.amount-group
                  input.input-lg.form-control(id="amount", type="tel", name="amount", ng-model="invoice.amount", maxlength="5", ng-required, autosizeinput, zero-input, invoice-amount, size-delta="16")
                  span.input-group-addon &#8381;

          .row.from-to.hidden-xs
            .col-sm-10.col-sm-offset-2.col-md-10.col-md-offset-2
              img(src="/public/app/images/from-to.png", alt="", style="height: 110px;")

          .row
            .col-xs-12.col-md-10.col-md-offset-1
              .row
                .form-group.col-xs-12.col-sm-6.col-md-4
                  label(for="owner_email")
                    | От кого 
                    span &mdash; это вы
                  input.input-lg.form-control(type="email", id="owner_email", name="owner_email", ng-model="invoice.owner_email", placeholder="ваш e-mail", spellcheck='false', autocorrect="off", ng-required, email-validator)
                .form-group.col-xs-12.col-sm-6.col-md-4
                  label(for="payer_email") Кому
                  input.input-lg.form-control(type="email", id="payer_email", name="payer_email", ng-model="invoice.payer_email", placeholder="E-mail", spellcheck='false', autocorrect="off", ng-required, email-validator)
                .form-group.col-xs-12.col-sm-6.col-sm-offset-6.col-md-4.col-md-offset-0
                  label.hidden-xs &nbsp;
                  button.btn.btn-submit.btn-primary.btn-lg.btn-block(type="submit", text="Продолжить")

.section.what-is-it-for.white(id="what-is-it-for")
  .container
    .row
      .col-xs-10.col-md-10.col-sm-offset-1.col-md-offset-1
        h1 Для чего это нужно?
    .row
      .col-xs-10.col-md-10.col-sm-offset-1.col-md-offset-1
        p Просить у кого-то деньги всегда неловко.
        p Задумывались ли вы о том, сколько денег вы теряете просто потому что вы забыли о них попросить или вам неловко о них напоминить? А что делать если сбор денег - ваша ежедневная рутина?
        p Вот для этого мы и сделали сервис PayMe4, и сейчас мы дадим вам пример тех выгод, которые вы можете получить:

    .row
      .col-sm-10.col-md-10.col-sm-offset-1.col-md-offset-1
        h2 Выгода 1
    .row
      .col-sm-6.col-md-7.col-sm-offset-1.col-md-offset-1
        .profit.profit-1.pull-right.hidden-sm.hidden-md.hidden-lg
        p Вы пообедали с друзьями в ресторане и великодушно заплатили за общий счет.
        p Теперь вместо того чтобы напоминать им об их долге, вам достаточно послать им сообщение (счет), по почте с указанием суммы их долга с помощью PayMe4.
        p По мере того, как ваши друзья будут оплачивать, полученные от вас счета, будут приходить уведомления, и Вы сможете посмотреть кто уже оплатил счет, а кто еще тянет оплатой.
      .hidden-xs.col-sm-4.col-md-3
        .profit.profit-1.pull-left

          
    .row
      .col-sm-7.col-md-8.col-md-offset-4.col-sm-offset-5
        h2 Выгода 2
    .row
      .hidden-xs.col-sm-4.col-md-3.col-sm-offset-1.col-md-offset-1
        .profit.profit-2.pull-right
      .col-sm-6.col-md-7
        .profit.profit-2.pull-left.hidden-sm.hidden-md.hidden-lg
        p Ваш друг остался без денег и просит у вас наличные взаймы.
        p С одной стороны это друг, а с другой стороны напоминать ему о долге не всегда удобно.
        p Решение &mdash; сразу после того как дали ему взаймы, отправьте ему по почте требование (счет) на эту сумму. Теперь напоминать о долге будет PayMe4, он же и поможет другу оплатить долг удобным способом.

    .row
      .col-sm-10.col-md-10.col-sm-offset-1.col-md-offset-1
        h2 Выгода 3

    .row
      .col-sm-6.col-md-7.col-sm-offset-1.col-md-offset-1
        .profit.profit-3.pull-right.hidden-sm.hidden-md.hidden-lg
        p Вы часто продаете ненужные вам вещи, а деньги за эти вещи Вы хотите получать на банковскую карту &mdash; PayMe4 поможет вам в этом.
        p С помощью PayMe4 Вы сможете быстро отправить счет покупателю и получить деньги на банковскую карту.

      .hidden-xs.col-sm-4.col-md-3
        .profit.profit-3.pull-left
    
    .row
      .col-sm-7.col-md-8.col-md-offset-4.col-sm-offset-5
        h2 Выгода 4
        
    .row
      .hidden-xs.col-sm-4.col-md-3.col-sm-offset-1.col-md-offset-1
        .profit.profit-4

      .col-sm-6.col-md-7
        .profit.profit-4.pull-left.hidden-sm.hidden-md.hidden-lg
        p Вы агент по продаже товаров или услуг в больших количествах и со многими клиентами общаетесь по телефону.
        p Лично встречаться сейчас просто не хватает времени. Отдельная проблема следить, кто из клиентов заплатил вам, а кто нет.
        p Здесь может помочь PayMe4 &mdash; все выставленные Вами счета и их статус доступны в Вашей электронной почте &mdash; Вы никогда не запутаетесь кто и сколько вам должен.

    .row.enough
      .col-xs-12.col-md-8.col-md-offset-2
        #enough
          h2 Уже достаточно выгод?
          p 
            | Отдельно скажем, что сам процесс выставления счета максимально удобен и 
            strong не требует регистрации!
          p Просто используйте свой почтовый ящик или заходите на наш сайт.
          div(style="text-align: center")
            a.btn.btn-lg.btn-primary.back-to-top-link(href="#") ПОПРОБОВАТЬ СЕЙЧАС
            .secondary-action или 
              a.ajax-link(href="#how-to-use", slide-to-anchor="/") узнать подробнее как пользоваться 
            

.section.how-to-use(id="how-to-use")
  .container
    .row
      .col-sm-10.col-md-10.col-sm-offset-1.col-md-offset-1
        h1 Как этим пользоваться?
        p Вы можете создать счет двумя способами:
        ul
          li Через сайт, введя сумму и адрес электронной почты, свой и того кто переведет вам деньги на главной странице
          li Используюя любой почтовый клиент или почтовый сервис, отправить письмо плательщику, указав в копии адрес сервиса pay@payme4.ru, а в теме письма сумму
        p Теперь, немного подробнее о том как просто выставить счет через электронную почту и о безопасности и надежности нашего сервиса:
        
    .row
      .col-sm-10.col-md-10.col-sm-offset-1.col-md-offset-1
        h2 Просто
        
    .row.hidden-sm.hidden-md.hidden-lg
      .col-xs-12(style="height: 240px; margin-bottom: 15px; overflow: hidden")
        img(src="/public/app/images/adv-phone6.png", alt="")
    .row
      .col-sm-5.col-md-6.col-sm-offset-1.col-md-offset-1
        
          
        p Просто отправьте сообщение по электронной почте человеку, от которого вам нужно получить деньги.
        p В теме письма укажите например "Верни мне 500 рублей" или любую другую сумму, но не более 75 000 руб. В копию нужно обязательно поставить pay@payme4.ru
        p Дальше сервис пришлет вам по почте сообщение для указания банковской карты, на которую Вы хотите получить деньги.
        p Человек, которому Вы отправили запрос (счет), получит сообщение (счет) на e-mail, и сможет не только посмотреть сколько вы попросили денег и за что, но и тут же оплатить ваш счет (перевести деньги на вашу банковскую карту).

      .hidden-xs.col-sm-5.col-md-4
        img(src="/public/app/images/adv-phone6.png", alt="", style="margin-top: -60px")
        

    .row
      .col-sm-7.col-md-8.col-md-offset-4.col-sm-offset-5
        h2 Надежно
    .row
      .hidden-xs.col-sm-4.col-md-3.col-sm-offset-1.col-md-offset-1
        .usage
          .icon.safe
      .col-sm-6.col-md-7
        .usage.pull-left.hidden-sm.hidden-md.hidden-lg
          .icon.safe
        p В мире нет ничего надежного на 100%, но мы попытались добиться невозможного, и поэтому ни один ваш счет или платеж не пропадет и не потеряется.
        p Оборудование, на котором работает наш сервис, находится в нескольких надежных датацентрах и продублировано для бесперебойной работы.
        p Наши системные инженеры круглосуточно следят за доступностью и работоспособностью сервиса.

        
    .row(id="security")
      .col-sm-10.col-md-10.col-sm-offset-1.col-md-offset-1
        h2 Безопасно
    .row
      .col-sm-6.col-md-7.col-sm-offset-1.col-md-offset-1
        .usage.pull-right.hidden-sm.hidden-md.hidden-lg
          .icon.safety
        p Пользуясь нашим сервисом вы ничем не рискуете, так как:
        ul
          li Все это работает с помощью технологий MasterCard Money-Send/Visa Personal Payments, которые создали платежные системы Visa и MasterCard.
          li Работа с сайтом происходит по безопасному каналу, надежно защищенному сертификатом безопасности с самым высоким уровнем шифрования
          li Оплата происходит с использованием технологии 3D Secure и обязательным вводом одноразового SMS пароля
      .hidden-xs.col-sm-4.col-md-3
        .usage
          .icon.safety
            
    .row
      .col-sm-7.col-md-8.col-md-offset-4.col-sm-offset-5
        h2 Быстро
    .row
      .hidden-xs.col-sm-4.col-md-3.col-sm-offset-1.col-md-offset-1
        .usage
          .icon.clock
      .col-sm-6.col-md-7
        .usage.pull-left.hidden-sm.hidden-md.hidden-lg
          .icon.clock
        p Разрабатывая наш сервис, мы потратили много усилий для того, чтобы избавиться от любых задержек при работе с ним.
        p Так, например, среднее время доставки почтовых сообщений от сервиса составляет меньше 1 секунды.
        p А все страницы сайта оптимизированы для быстрой загрузки даже при медленном интернет соединении.
        p &nbsp;
        p &nbsp;
script.
  $(function() {
    $('body>.container').removeClass('container');
    var section = $('.section.invoice-new');
    var invoiceContainer = $('.section.invoice-new>div');
    var invoiceForm = invoiceContainer.find('form');
    var navBar = $('.navbar');
    
    function fixFormHeight() {
      var vh = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
      var sh = section.height();
      var fh = invoiceForm.height();
      var fullsized = invoiceForm.hasClass('fullsize');
      if (fullsized) {
        if (sh > vh + 60 ) {
          invoiceForm.removeClass('fullsize');
        }
      } else {
        sh = Math.min(sh, vh);
        if (sh - fh > 220) {
          invoiceForm.addClass('fullsize');
        }
      }
    }
    
    function resizeFormSection() {
      var wh = $(window).height();
      var minHeight = navBar.height() + invoiceForm.height() + 50;
      section.height(Math.max(wh, minHeight));
    }
    
    function centerForm() {
      var navHeight = navBar.height();
      section.parents('div').css('margin-top', -navHeight);
      var marginTop = (section.height() - invoiceForm.height()) / 2;
      invoiceForm.css('margin-top', Math.max(marginTop, navHeight));
    }

    function onResize() {
      resizeFormSection();
      fixFormHeight();
      centerForm();
    }

    onResize();

    $(window).on('resize', onResize);
    
    $('.back-to-top-link').click(function (event) {
      event.preventDefault();
      $('html, body').animate({scrollTop: 0}, 500);
      return false;
    });
  });
