#tariffs-page

  h1 Тарифы

  .row
    .col-sm-4
      h2 Лимиты
      p.desc Один перевод без учета комиссии
      p.value до 75 000 ₽
    .col-sm-8
      .hidden-xs(style="margin-top: 30px;")
      .highlight-block(style="max-width: 480px")
        p.small Для одной карты за календарный месяц с учетом комиссии
        .row
          .col-xs-6
            p.desc Максимальная сумма переводов
            p.value 500 000 ₽
          .col-xs-6
            p.desc Общее количество переводов
            p.value 50

  .row
    .col-xs-12
      h2 Комиссия за переводы с дебетовых карт

  .row
    .col-xs-6.col-sm-5
      p.desc По России с карты Альфа-Банка на карту Альфа-Банка
    .col-xs-2
      p.value.text-right 0%
    .col-xs-4.col-sm-4
      p.small без комиссии

  .row
    .col-xs-6.col-sm-5
      p.desc По России между картами разных банков
    .col-xs-2
      p.value.text-right 1,95%
    .col-xs-4.col-sm-4
      p.small минимум 50 рублей + возможна дополнительная комиссия банка, выпустившего карту

  .row
    .col-xs-12
      h2 Комиссия за переводы с кредитных карт

  .row
    .col-xs-6.col-sm-5
      p.desc Переводы с кредитных карт Альфа-Банка Россия на карты российских банков
    .col-xs-2
      p.value.text-right 5,9%
    .col-xs-4.col-sm-4
      p.small минимум 100 рублей
      
  .row
    .col-xs-6.col-sm-5
      p.desc По России с кредитных карт других банков
    .col-xs-2
      p.value.text-right 1,95%
    .col-xs-4.col-sm-4
      p.small минимум 50 рублей + возможна дополнительная комиссия банка, выпустившего карту

  .row
    .col-xs-12
      h2 Время перевода
      p.desc В 95 процентах случаев, перевод денег на карты Visa и MasterCard занимает до 30 минут, реже &mdash; от 1 до 5 дней.
