#tariffs-page

  h1 Тарифы

  .row
    .col-sm-4
      p.caption Лимиты
      p.desc Один перевод без учета комиссии
      p.value до 75 000 ₽
    .col-sm-8
      .visible-xs-block(style="margin-top: 20px;")
      .highlight-block
        p.small для одной карты за календарный месяц с учетом комиссии
        .row
          .col-xs-6
            p.desc Максимальная сумма переводов
            p.value 500 000 ₽
          .col-xs-6
            p.desc Общее количество переводов
            p.value 50

  .row(style="margin-top: 70px;")
    .col-xs-12
      p.caption Комиссия за переводы с дебетовых карт
  .row
    .col-xs-6.col-sm-4
      p.desc По России с карты Альфа-банка на карту Альфа-банка
    .col-xs-2
      p.value.text-right 0%
    .col-xs-4.col-sm-6
      p.small без комиссии

  .row
    .col-xs-6.col-sm-4
      p.desc По России между картами разных банков
    .col-xs-2
      p.value.text-right 1,9%
    .col-xs-4.col-sm-6
      p.small минимум 50 рублей

  .row(style="margin-top: 80px;")
    .col-xs-6.col-sm-4
      p.desc Международные переводы между картами Альфа-банка
    .col-xs-2
      p.value.text-right 1,5%
    .col-xs-4.col-sm-6
      p.small плюс 30 рублей или 1 доллар США или 1 евро

  .row
    .col-xs-6.col-sm-4
      p.desc Международные переводы между картами разных банков
    .col-xs-2
      p.value.text-right 2%
    .col-xs-4.col-sm-6
      p.small плюс 40 рублей или 1,3 доллара США или 1 евро

  .row(style="margin-top: 100px;")
    .col-xs-12
      p.caption Комиссия за переводы с кредитных карт

  .row
    .col-xs-6.col-sm-4
      p.desc Переводы с кредитных карт Альфа-банка Россия
    .col-xs-2
      p.value.text-right 5,9%
    .col-xs-4.col-sm-6
      p.small минимум 100 рублей или 3 доллара США (или 3 евро &mdash; при переводе на карту иностранного банка)

  .row(style="margin-top: 100px;")
    .col-xs-12
      p.caption Время перевода
      p.desc На карты Альфа-Банка России, Беларуссии, Казахстана и Украины (только Visa) зачисление происходит моментально. Количество других банков, зачисляющих переводы моментально, постоянно растет.
      p.desc В 95 процентах случаев на карты Visa перевод происходит в течение 30 минут, реже &mdash; от 1 до 5 дней. Переводы на краты MasterCard/Maestro от 1 до 5 дней &mdash; в большинстве случаев.


  .row(style="margin-top: 100px;")
    .col-xs-12
      p.caption Страны для международного перевода
      p.desc Только с карта Альфа-Банка платежной системы MasterCard или Visa на карты, выпущенные в странах: Австралия, Австрия, Азербайджан, Албания, Ангола, Армения, Бангладеш, Бахрейн, Беларусь, Бельгия, Бенин, Болгария, Босния и Герцеговина, Бруней, Бутан, Великобритания, Венгрия, Вьетнам, Габон, Гана, Гвинея, Германия, Гонконг, Греция, Грузия, Дания, Египет, Замбия, Йемен, Израиль, Индия, Индонезия, Иордан, Исландия, Испания, Италия, Казахстан, Камбоджа, Камерун, Канада, Катар, Кения, Кипр, Киргизия, Китай, Конго, Кувейт, Лаос, Латвия, Литва, Лихтеншейн, Люксембург, Мадагаскар, Макао (Аомынь), Македония, Малайзия, Мальта, Марокко, Мозамбик, Молдавия, Молдова, Монако, Монголия.
      p.desc(style="margin-top: 50px;") Между картами MasterCard выпущенными в странах:
      p.desc Азербайджан, Армения, Белоруссия, Украина, Казахстан, Молдова.
