#tariffs-page

  h1 Тарифы

  .row
    .col-sm-4
      h2 Лимиты
      p.desc Один перевод без учета комиссии
      p.value до 75 000 ₽
    .col-sm-8
      .hidden-xs(style="margin-top: 30px;")
      .highlight-block
        p.small Для одной карты за календарный месяц с учетом комиссии
        .row
          .col-xs-6
            p.desc Максимальная сумма переводов
            p.value 500 000 ₽
          .col-xs-6
            p.desc Общее количество переводов
            p.value 50

  .row
    .col-xs-12
      h2 Комиссия за переводы с дебетовых карт
  .row
    .col-xs-6.col-sm-5
      p.desc По России с карты Альфа-Банка на карту Альфа-Банка
    .col-xs-3
      p.value.text-right 0%
    .col-xs-3.col-sm-4
      p.small без комиссии

  .row
    .col-xs-6.col-sm-5
      p.desc По России между картами разных банков
    .col-xs-3
      p.value.text-right 1,95%
    .col-xs-3.col-sm-4
      p.small минимум 50 рублей
  
  row
    .col-xs-12
      p &nbsp;
  .row
    .col-xs-6.col-sm-5
      p.desc Международные переводы между картами Альфа-Банка (Украина, Казахстан, Белоруссия, Россия)
    .col-xs-3
      p.value.text-right 1,5%
    .col-xs-3.col-sm-4
      p.small плюс 30 рублей

  .row
    .col-xs-6.col-sm-5
      p.desc Международные переводы с карты Альфа-Банка Россия на карту иностранного банка
    .col-xs-3
      p.value.text-right 2%
    .col-xs-3.col-sm-4
      p.small плюс 40 рублей

  .row
    .col-xs-12
      h2 Комиссия за переводы с кредитных карт

  .row
    .col-xs-6.col-sm-5
      p.desc Переводы с кредитных карт Альфа-Банка Россия
    .col-xs-2
      p.value.text-right 5,9%
    .col-xs-4.col-sm-4
      p.small минимум 100 рублей

  .row
    .col-xs-12
      h2 Время перевода
      p.desc На карты Альфа-Банка России, Беларуссии, Казахстана и Украины (только Visa) зачисление происходит моментально. Количество других банков, зачисляющих переводы моментально, постоянно растет.
      p.desc В 95 процентах случаев на карты Visa перевод происходит в течение 30 минут, реже &mdash; от 1 до 5 дней. Переводы на краты MasterCard/Maestro от 1 до 5 дней &mdash; в большинстве случаев.


  .row
    .col-xs-12
      h2 Страны для международного перевода
      p.desc
        strong Только с карт Альфа-Банка платежной системы MasterCard или Visa 
        | на карты, выпущенные в странах:
      p Австралия, Австрия, Азербайджан, Албания, Ангола, Армения, Бангладеш, Бахрейн, Беларусь, Бельгия, Бенин, Болгария, Босния и Герцеговина, Бруней, Бутан, Великобритания, Венгрия, Вьетнам, Габон, Гана, Гвинея, Германия, Гонконг, Греция, Грузия, Дания, Египет, Замбия, Йемен, Израиль, Индия, Индонезия, Иордан, Исландия, Испания, Италия, Казахстан, Камбоджа, Камерун, Канада, Катар, Кения, Кипр, Киргизия, Китай, Конго, Кувейт, Лаос, Латвия, Литва, Лихтеншейн, Люксембург, Мадагаскар, Макао (Аомынь), Македония, Малайзия, Мальта, Марокко, Мозамбик, Молдавия, Молдова, Монако, Монголия.
