#terms-page

  h1 Условия предоставления сервиса

  .row
    .col-xs-12.col-sm-8
      h2 Согласие пользователя на пользование сервисом Payme4

      p Настоящим пользовател сервиса Payme4 подтверждает, что:
      ul
        li желает осуществить перечисление (перевод) денежных средств, используя сервис Payme4 AO &laquo;NORVIC BANCA&raquo;, далее в тесте @mdash; Банк;

        li ознакомился с Общими правилами сделок Банка, согласен с ними и признает для себя (представляемого) обязательными;

        li ознакомился и согласен, что все электронные документы (в т.ч. договоры), подписанные Получателем/Плательщиком при использовании соответствующих средств идентификации Получателя/Плательщика, обладают такой же юридической силой, как и документы, подписанные собственноручно Получателем/Плательщиком, и установленные Банку права и полномочия, а также предоставленные Получателем/Плательщиокм подтверждения являются для Получателя/Плательщика обязательными в соответствии с условиями, включенными в упомянутые документы;

        li информирован и обязуется обеспечить сохранность и секретность своих идентификационных данных (кодов идентификации, кодов доступа, паролей и пр.), а также хранить свои средства идентификации и любые пароли в секрете и в недоступном для третьих лиц месте; если есть основания полагать, что идентификационные данные и/или средства идентификации Получателя/Плательщика стали известны или доступны третьим лицам и/или были утеряны или украдены, обязанность Получателя/Плательщика незамедлительно информировать об этом банк, в котором открыт счет / выпущена банковская карта;

        li информирован и осознает, что, используя идентификационные данные и/или средства идентификации Получателя/Плательщика, любое третье лицо может получить доступ к денежным средствам Получателя/Плательщика и проводить с ними операции, в т.ч. получать информацию о состоянии счета, проводить операции с денежными средствами на счете, в т.ч. кредитными средствами, подписывать электронные документы, устанавливая любого рода обязательства от имени Получателя/Плательщика;

        li информирован и согласен, что Банк не несет ответственность за убытки, понесенные Получателем/Плтательщиком, если третье лицо воспользовалось идентификационными данными (средствами) Получателя/Плательщика;

        li обязательства, принятые настоящей Офертой, полностью осознает и обязуется исполнять их в порядке, указанном в Общих правилах сделок Банка, в т.ч. обязательства Пользователя карты;

        li дает согласие на обработку личных данных и использование средств связи в порядке, установленном Общими правилами сделок Банка;

        li Получатель/Плательщик согласен с тем, что Банк использует информацию о Получателе/Плательщике (ном. телефона, ном. моб. телефона, адрес эл. почты и др.) с целью информирования Получателя/Плательщика об акциях, предложениях и услугах Банка;

        li Получатель/Плательщик иметт право отказаться от получения вышеуказанной рекламы, написав сообщение электронно на э-адрес: #[a(href="mailto:support@payme4.ru") support@payme4.ru]

    .hidden-xs.col-sm-4
      .highlight-block(style="margin-top: 32px;")
        Условия предоставления услуги Альфа-Банка перевод с карты на карту