extends layout
block content
  .container(ng-controller='InvoiceCtrl', ng-init='session_id="#{session_id}"')
    ul
      li
        a(href='invoices/') Index
      li
        a(href='invoices/new') New
      li
        a(href='invoices/pay') Pay
      
    div(ng-view)
