doctype html
html(ng-app="app")
  head
    title= title
    link(rel='stylesheet', href='/public/build/deps.min.css')
    link(rel='stylesheet', href='/public/build/web.min.css')
    
    script(type='text/javascript', src='/public/build/deps.min.js')
    script(type='text/javascript', src='/public/build/web.min.js')
      
    base(href='/')
  body
    block content
