doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/deps.min.css')
    link(rel='stylesheet', href='/public/web.min.css')
    
    script(type='text/javascript', src='/public/deps.min.js')
    script(type='text/javascript', src='/public/web.min.js')
  body
    block content
