doctype html
html
  head
    title Pay invoice
  body
    img(src="mailer/templates/invoice/confirm/logo.jpg")
    h1 Вам пришел счет
    p От: #{invoice.owner.name}
    p Сумма: #{invoice.amount}
    if invoice.text
      p Описание: #{invoice.text}
    p
      a(href="") Оплатить
    p
      a(href="") Отказаться
    
    p.footer Have a nice day!
    p.footer email_id=#{id}