.container
  .row
    .col-xs-12.col-md-6.col-md-offset-3
      h1 Получить деньги
  form
    .row
      .col-xs-12.col-md-6.col-md-offset-3
        .form-group
          input.input-lg.form-control(name="amount" value=1000)
    .row
      .col-xs-12.col-md-3.col-md-offset-3
        .form-group
          label(for="owner_email") От
          br
          input.form-control(id="owner_email" name="owner_email" placeholder="Почта")
        .form-group
          input.form-control(name="owner" placeholder="Имя")
      .col-xs-12.col-md-3
        .form-group
          label(for="payer_email") Кому
          br
          input.form-control(id="payer_email" name="payer_email" placeholder="Почта")
        .form-group
          input.form-control(name="payer" placeholder="Плательщик")
    .row
      .col-xs-12.col-md-3.col-md-offset-3
        .form-group
          input.form-control(name="description" placeholder="Комментарий")
      .col-xs-12.col-md-3
        .form-group
          input.btn.btn-default.btn-block(
          type="submit" value="Отправить запрос"
          ng-click='submit()')
