.container
  .row
    .col-xs-12.col-md-6.col-md-offset-3
      h2 Счет создан, но еще не отправлен плательщику
      p.
        В целях безопасности мы должны убедиться, что почта принадлежит вам.
        Поэтому мы отправили вам письмо со ссылкой для завершения счета.
