body {
    background-color: #cccccc;
    font-family: 'Open Sans', 'Arial';
    font-size: 1em;
}

h1 {
    color: #000088;
}

h2 {
    color: #00B7FF;
}

.footer {
    color: #444444;
    font-size: 0.8em;
}