.container {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  table-layout: fixed;
  letter-spacing: 0.25px;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

img.logo {
  width: 120px;
}

.container td div {
  overflow: hidden;
}

td.button {
  display: block;
  letter-spacing: 0.5px;
}

a.button {
  color: #0066ca;
  font-size: 20px;
  font-weight: 400;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  text-decoration: none;
  display: inline-block;
  width: 240px;
  text-align: center;
  line-height: 50px;
  -webkit-text-size-adjust: none;
  letter-spacing: 0.5px;
}

.title {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.4;  
  color: white;
}

.amount {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 60px;
  font-weight: 200;
  line-height: 70px;  
  color: white;
}

img.rouble {
  height: 44px;
  width: 30px;
}

.desc, .desc a {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;  
  color: white;
}

.desc .label {
  color: #7db1e4;
  font-size: 14px;
  margin-top: 10px;
}

.desc .divider {
  width: 100%;
  margin-top: 5px;
  border-bottom: 1px solid #7db1e4;
}

.terms, .terms a {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.4;  
  color: #aaaaaa;
}

.copyright, .copyright a {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;  
  color: #aaaaaa;
}

.button-secondary, a.button-secondary {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 300;  
  color: #cccccc;
}

/* invoices */

.invoice {
  background-color: #0366cb;
}

.invoice a.button {
  color: #0066ca;
}

.invoice td.button {
  background-color: #eeeeee;
}


/* expired */

.invoice-expired {
  background-color: #666666;
}

.invoice-expired a.button {
  color: #0066ca;
}

.invoice-expired td.button {
  background-color: #eeeeee;
}

.invoice-expired p.label {
  color: #aaaaaa;
}
  
.invoice-expired p.divider {
  border-bottom: 1px solid #aaaaaa;
}
