.modal-header
  h3 Укажите причину отказа
.modal-body
  form(name="refuse_form" novalidate)
    fieldset
      .radio.form-group
        label
          input(type="radio", ng-model="reason", ng-click="other_reason=null", ng-value="'Уже оплатил ранее'", required)
          = "Уже оплатил ранее"
      .radio.form-group
        label
          input(type="radio", ng-model="reason", ng-click="other_reason=null", ng-value="'Не знаю кто этот человек'", required)
          = "Не знаю кто этот человек"
      .radio.form-group
        label
          input(type="radio", ng-model="reason", ng-value="'other'", required)
          = "Другое"
      .form-group
        textarea.form-control(ng-model="other_reason", ng-click="reason='other'" placeholder="Укажите свою причину", maxlength="255", ng-maxlength="255", required)
        .help-block Укажите не более 255 символов
.modal-footer
  buttob.btn.btn-default(ng-click="cancel()") Я передумал
  buttob.btn.btn-primary(ng-click="refuse()", ng-disabled="refuse_form.$invalid") Все верно

